<!--Author Ryan Pinkney
This is my index page that has a welcome message
-->

@{
    <!--Set the tab title-->
    ViewData["Title"] = "Home";
}

<!--Welcome title-->
<div class="text-center">
    <h1 class="display-4">Welcome to My Online Book Store</h1>
    <p>This is the mission 10 project for Ryan Pinkney</p>
</div>
