<!--Author Ryan Pinkney

    This is my html page that will display the books
    -->
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <!--Set the tab title-->
    ViewData["Title"] = "Book List";
}

<!--Retrieves the list from the controller-->
@model BooksViewModels

<!--New formating-->
<div class="row">
    <div class="col-3">
        <vc:types></vc:types>
    </div>
    <div class="col-9">

        <!--Title-->
        <h1>Books for Sale in Stock: </h1>


        <!--Rows-->
        @foreach (Books iCount in Model.Books)
        {

            // Allows us to make a module of html to reuse on multiple pages
            <partial name="BookSummary" model="iCount" />

        }
    </div>
</div>


<!--Buttons to go to the next page. I used the styling defined in the textbook-->
<h6>Pages: </h6>
<div page-blah-model="@Model.PageInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

<!--This is for mission 8-->
<!--This is a second test-->