<!-- Author: Ryan Pinkney
    This is my default view for the cart summary view component
    -->
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Author Ryan Pinkney
    This is the default page for the cart summary view component
    -->

<!--Bring in the basket model-->
@model Basket

<!-- Display the number of items and cost-->
<div class="">
    @if (Model.Items.Count() > 0)
    {
        <small class="navbar-text">
            <b>Inside:</b>
            @Model.Items.Sum(x => x.Quantity) item(s)
            Total: $@Model.CalcualteTotal()
        </small>
    }

    <!-- Button to take the user to the buy page-->
    <a class="btn btn-sm btn-secondary navbar-btn" asp-page="/Buy"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>