@inherits LayoutComponentBase
<!--Autho Ryan Pinkney
This is my admin shared layout that is used in all the blazor pages
-->
<div class="bg-info text-white p-2">
    <div class="container-fluid">

        <div class="col">
            <span class="navbar-brand m-lg-2">Bookstore Admin Page</span>

        </div>

        <!-- THIS IS MY SECOND NEW BOOTSTRAP THING FOR MISSION 11; badge rounded-pill bg-dark-->
        <div class="col-2 text-right">
            <a class="badge rounded-pill bg-dark" href="/account/logout">Log Out</a>
        </div>

    </div>
</div>

<!-- THIS IS MY FIRST NEW BOOTSTRAP STYLING ELEMENT; I AM USING THE ALERT CLASS-->
<div class="alert alert-danger" role="alert">
    You are now in admin mode!
</div>

<!--Container for navigation-->
<div class="container-fluid">
    <div class="row p-2">

        <!--Navigation buttons-->
        <div class="col-3 d-grid">
            <NavLink class="btn btn-outline-primary" href="/admin/books"
                     ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Books</NavLink>
            <NavLink class="btn btn-outline-primary" href="/admin/orders"
                     ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Orders</NavLink>
        </div>

        <!--Body of the html goes here-->
        <div class="col">
            @Body

        </div>


    </div>


</div>