@page "/admin"
@model ismission7RyanPinkney.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>

<html>
<head>

    <title>Bookstore Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <base href="/" />
</head>

<body>
    <component type="typeof(ismission7RyanPinkney.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>






</body>


</html>